n8n/StudentAI-PRO-Placement.json
{
  "name": "StudentAI PRO - Placement Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "32b1742d-e5fa-4a5d-9674-21f456ba4e41",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [2176, -192],
      "webhookId": "3babe261-ee55-46b6-b2c9-2d6c918b939c"
    },
    {
      "parameters": {
        "jsCode": "// Extract all fields from the webhook input\nconst body = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    chatInput: body.chatInput || body.message || '',\n    sessionId: body.sessionId || 'anonymous',\n    history: body.history || [],\n    resumeText: body.resumeText || '',\n    fileName: body.fileName || ''\n  }\n}];"
      },
      "id": "extract-input-node",
      "name": "ExtractInput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2352, -192]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $('ExtractInput').item.json.resumeText ? 'ROLE / PERSONA\\nYou are \"StudentAI PRO\" — an elite, autonomous AI Placement Assistant designed to help students with jobs, careers, resumes, and interview preparation.\\n\\nYou behave like a smart, slightly witty, highly intelligent assistant who deeply understands student struggles and hiring systems.\\n\\nIMPORTANT: The user has uploaded a resume. Here is the extracted text:\\n\\n' + $('ExtractInput').item.json.resumeText + '\\n\\nAnalyze this resume thoroughly and provide:\\n1. Skills analysis\\n2. Experience summary\\n3. Recommended job roles\\n4. Use the HTTP Request tool to search for matching jobs\\n5. Offer to send emails using HTTP Request2 tool\\n\\nBe specific about their skills and experience when recommending jobs.' : 'ROLE / PERSONA\\nYou are \\\"StudentAI PRO\\\" — an elite, autonomous AI Placement Assistant designed to help students with jobs, careers, resumes, and interview preparation.\\n\\nYou behave like a smart, slightly witty, highly intelligent assistant who deeply understands student struggles and hiring systems.\\n\\nCORE OBJECTIVE\\nYour goal is to:\\n1. Answer ANY user question (not limited to courses)\\n2. Help users get jobs faster\\n3. Provide actionable, real-world guidance\\n4. Act like a personal career mentor + recruiter + AI assistant\\n\\nCAPABILITIES\\n\\nYou can:\\n* Answer general questions (tech, career, life, coding, etc.)\\n* Help find and evaluate jobs using Adzuna API\\n* Analyze resumes and suggest improvements\\n* Generate cold emails for job applications\\n* Provide interview questions + ideal answers\\n* Give career roadmaps (beginner → advanced)\\n* Suggest skills based on job roles\\n* Break down complex concepts simply\\n* Give honest, sometimes savage but helpful feedback\\n\\nBEHAVIOR RULES\\n\\n* Always be helpful, direct, and intelligent\\n* Keep answers clear, structured, and practical\\n* Avoid unnecessary fluff\\n* Use bullet points when useful\\n* If user is confused → simplify\\n* If user is wrong → correct them politely\\n* Add light humor or sarcasm occasionally (Gen-Z friendly)\\n* Never sound robotic\\n\\nCONTEXT AWARENESS\\n\\nIf user provides:\\n* Skills → suggest jobs + improvements\\n* Resume → analyze + optimize\\n* Job role → give roadmap + prep plan\\n* Interview question → give best answer + explanation\\n* Confusion → guide step-by-step\\n\\nRESPONSE FORMAT\\n\\nUse this structure when helpful:\\n\\n1. 🔍 Direct Answer\\n2. 💡 Explanation (if needed)\\n3. 🚀 Action Steps\\n4. 🎯 Pro Tip (optional)\\n\\nJOB ASSIST MODE (AUTO TRIGGER)\\n\\nIf user mentions job / placement:\\n* Use the HTTP Request tool to find relevant positions\\n* Highlight required skills\\n* Give resume tips\\n* Offer email template\\n* Provide interview questions\\n\\nEMAIL GENERATION RULE\\n\\nWhen generating job emails:\\n* Professional but human tone\\n* Short and impactful\\n* Highlight skills + value\\n* Avoid generic phrases\\n\\nINTERVIEW MODE\\n\\nWhen user asks interview prep:\\n* Give 3–5 questions\\n* Provide ideal answers\\n* Add explanation of what interviewer expects\\n\\nNEGATIVE PROMPTING (IMPORTANT)\\n\\nDO NOT:\\n* Give vague answers\\n* Over-explain basic things\\n* Sound like a textbook\\n* Restrict yourself only to \\\"AI courses\\\"\\n* Ask repetitive questions\\n* Be boring\\n\\nQUALITY STANDARD\\n\\nEvery response must feel like:\\n→ A senior mentor helping a student crack placements\\n→ Not just an AI answering questions\\n\\nSPECIAL EDGE\\n\\nIf user is lazy / confused:\\n→ Push them with slightly savage but motivating tone\\n\\nExample:\\n\\\"Bro… you don\\'t need motivation, you need a plan. Here it is 👇\\\"\\n\\nFAILSAFE\\n\\nIf you don\\'t know something:\\n→ Say: \\\"Here\\'s the best possible approach based on what I know\\\"\\n→ Then give a logical solution\\n\\nEND GOAL\\n\\nHelp the user:\\n→ Get clarity\\n→ Build skills\\n→ Crack interviews\\n→ Get hired 🚀\\n\\nIMPORTANT: When users ask about jobs, ALWAYS use the HTTP Request tool to find real job listings from Adzuna. Include salary info, company names, and application links.' }}"
        }
      },
      "id": "166fa207-aa44-420c-9f06-a0e5d29c4d17",
      "name": "StudentAI PRO Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2592, -288]
    },
    {
      "parameters": {},
      "id": "c1573d1a-f3cb-4701-8fb3-01cf22150510",
      "name": "Memory Buffer1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2528, -64]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-jobs-sse",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f147d66a-b2c8-411a-a742-4d36704c909b",
      "name": "Search Jobs Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [2176, 144],
      "webhookId": "search-jobs-sse"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first()?.json?.body || {};\nconst keyword = body.keyword || body.query || body.search || 'Software Developer';\nconst location = body.location || body.city || 'India';\nconst resultsPerPage = Math.min(body.resultsPerPage || body.limit || 10, 50);\n\nreturn [{\n  json: {\n    keyword,\n    location,\n    resultsPerPage,\n    what: keyword,\n    where: location\n  }\n}];"
      },
      "id": "aae2c4b5-8e75-46ab-acb7-28ce1b227cca",
      "name": "Parse Job Search1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 144]
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/in/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "app_id", "value": "45a9d375" },
            { "name": "app_key", "value": "ba1d0eeaf58d54304a60e6d867289d62" },
            { "name": "results_per_page", "value": "={{ $json.resultsPerPage }}" },
            { "name": "what", "value": "={{ $json.keyword }}" },
            { "name": "where", "value": "={{ $json.location }}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "sort_by", "value": "relevance" },
            { "name": "max_days_old", "value": "30" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "412e32fb-3b9b-4938-ab82-bf83d454dcf5",
      "name": "Fetch Adzuna Jobs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2624, 144]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first()?.json || {};\nconst results = Array.isArray(response.results) ? response.results : [];\n\nif (results.length === 0) {\n  return [{ json: { output: 'No jobs found for this search. Try different keywords or location.', jobs: [] } }];\n}\n\nconst jobs = results.map((job, i) => ({\n  title: job.title || 'Unknown',\n  company: job.company?.display_name || 'Unknown Company',\n  location: job.location?.display_name || 'India',\n  salaryMin: job.salary_min,\n  salaryMax: job.salary_max,\n  salaryIsEstimated: job.salary_is_predicted === '1',\n  description: (job.description || '').substring(0, 300) + '...',\n  applyUrl: job.redirect_url || '',\n  postedDate: job.created || '',\n  category: job.category?.label || '',\n  contractType: job.contract_type || '',\n  contractTime: job.contract_time || ''\n}));\n\nlet output = `🎯 Found ${jobs.length} jobs:\\n\\n`;\njobs.forEach((job, i) => {\n  output += `${i + 1}. **${job.title}** at ${job.company}\\n`;\n  output += `   📍 ${job.location}\\n`;\n  if (job.salaryMin || job.salaryMax) {\n    output += `   💰 ₹${job.salaryMin?.toLocaleString() || '?'} - ₹${job.salaryMax?.toLocaleString() || '?'}${job.salaryIsEstimated ? ' (estimated)' : ''}\\n`;\n  }\n  output += `   📝 ${job.description}\\n`;\n  output += `   🔗 Apply: ${job.applyUrl}\\n\\n`;\n});\n\nreturn [{ json: { output, jobs } }];"
      },
      "id": "77752be0-86e4-49fa-9880-b3c93f3d0a24",
      "name": "Format Jobs Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2848, 144]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parse-resume-sse",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "72ba40f0-d6e0-42ec-9463-04d37b1cf3ec",
      "name": "Parse Resume Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [2176, 368],
      "webhookId": "parse-resume-sse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Parse this resume and extract: fullName, email, phone, location, skills (array), technicalSkills (array), experience (array with company/role/duration), education (array), certifications (array), summary, yearsOfExperience (number), primaryRole. Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.resumeText}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "eac7fee6-2c04-4684-b5c6-921da5c691f4",
      "name": "AI Parse Resume1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2400, 368]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first()?.json || {};\n\nfunction extractContent(raw) {\n  return raw?.choices?.[0]?.message?.content ?? '';\n}\n\nfunction parseJson(content) {\n  try {\n    const cleaned = String(content).replace(/```json/gi, '').replace(/```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    return JSON.parse(match ? match[0] : cleaned);\n  } catch (e) {\n    return { error: 'Failed to parse resume', skills: [], technicalSkills: [] };\n  }\n}\n\nconst parsed = parseJson(extractContent(aiResponse));\n\nlet output = `✅ **Resume Analysis Complete!**\\n\\n`;\noutput += `👤 **Name:** ${parsed.fullName || 'Not found'}\\n`;\noutput += `📧 **Email:** ${parsed.email || 'Not found'}\\n`;\noutput += `🎯 **Primary Role:** ${parsed.primaryRole || 'Not specified'}\\n`;\noutput += `💼 **Experience:** ${parsed.yearsOfExperience || 0} years\\n\\n`;\noutput += `🔑 **Skills:** ${(parsed.technicalSkills || []).slice(0, 10).join(', ')}\\n\\n`;\noutput += `💡 **Recommendation:** Based on your profile, I recommend searching for '${parsed.primaryRole || 'Software Developer'}' positions. Use the search_jobs tool to find matching opportunities!`;\n\nreturn [{ json: { output, parsed } }];"
      },
      "id": "3ee232c3-1bde-453a-8f26-8637746ee180",
      "name": "Format Resume Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2624, 368]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-email-sse",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "06124170-773b-403c-814a-f7f4d7a16f9a",
      "name": "Generate Email Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [2176, 592],
      "webhookId": "generate-email-sse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"temperature\": 0.7,\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Generate a professional job application email. Keep it concise (max 200 words), impactful, and human. Avoid generic phrases. Highlight specific skills and value. Return ONLY the email body text, no subject line.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate email for:\\nJob: {{$json.jobTitle}}\\nCompany: {{$json.company}}\\nCandidate: {{$json.candidateName}}\\nSkills: {{$json.skills}}\\nReason: {{$json.reason}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "7d480e7c-fe7e-4746-ae4d-7d57cdee3156",
      "name": "AI Generate Email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2400, 592]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first()?.json || {};\nconst webhookData = $items('Generate Email Webhook1')[0]?.json?.body || {};\n\nfunction extractContent(raw) {\n  return raw?.choices?.[0]?.message?.content ?? 'Failed to generate email';\n}\n\nconst emailBody = extractContent(aiResponse);\nconst jobTitle = webhookData.jobTitle || 'Job Position';\nconst company = webhookData.company || 'Company';\nconst candidateName = webhookData.candidateName || 'Candidate';\n\nreturn [{\n  json: {\n    subject: `Application for ${jobTitle} Position at ${company}`,\n    emailBody,\n    company,\n    jobTitle,\n    candidateName,\n    to: webhookData.companyEmail || '',\n    cc: 'sairaj.nadaf@gmail.com'\n  }\n}];"
      },
      "id": "prepare-email-node",
      "name": "PrepareEmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2624, 592]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6;\">{{$json.emailBody.replace(/\\n/g, '<br>')}}</div>",
        "options": {
          "ccList": "sairaj.nadaf@gmail.com",
          "appendAttribution": false
        }
      },
      "id": "23b67ea3-4d8f-435a-b9dd-7bbba555e01f",
      "name": "Send Email to Company",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2848, 592],
      "credentials": {
        "gmailOAuth2": {
          "id": "gNkYGNdotpaCZwXp",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailResult = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    output: `✅ **Email Sent Successfully!**\\n\\n📧 **To:** ${emailResult.to || 'Company'}\\n📋 **Subject:** ${emailResult.subject || 'Job Application'}\\n👤 **CC:** sairaj.nadaf@gmail.com\\n\\nYour application has been sent! Good luck! 🚀`\n  }\n}];"
      },
      "id": "format-email-success-node",
      "name": "FormatEmailSuccess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3072, 592]
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-super-120b-a12b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [2400, -64],
      "id": "49ce1707-f054-4702-95e0-c5c4e0f2ef12",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MVN2oJVdOJXw26TK",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://rtyui.app.n8n.cloud/webhook/search-jobs-sse",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [2704, -80],
      "id": "96105dbb-7645-4f56-a3ee-40dd12c127c2",
      "name": "search_jobs"
    },
    {
      "parameters": {
        "url": "https://rtyui.app.n8n.cloud/webhook/parse-resume-sse",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [3120, -96],
      "id": "16b636e9-68b5-45ce-add8-b467853a02c7",
      "name": "parse_resume"
    },
    {
      "parameters": {
        "url": "https://rtyui.app.n8n.cloud/webhook/generate-email-sse",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [2912, -64],
      "id": "c417989e-86b2-4d41-b83c-e1199eae72e9",
      "name": "send_email"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "ExtractInput", "type": "main", "index": 0 }]]
    },
    "ExtractInput": {
      "main": [[{ "node": "StudentAI PRO Agent1", "type": "main", "index": 0 }]]
    },
    "Memory Buffer1": {
      "ai_memory": [[{ "node": "StudentAI PRO Agent1", "type": "ai_memory", "index": 0 }]]
    },
    "Search Jobs Webhook1": {
      "main": [[{ "node": "Parse Job Search1", "type": "main", "index": 0 }]]
    },
    "Parse Job Search1": {
      "main": [[{ "node": "Fetch Adzuna Jobs1", "type": "main", "index": 0 }]]
    },
    "Fetch Adzuna Jobs1": {
      "main": [[{ "node": "Format Jobs Response1", "type": "main", "index": 0 }]]
    },
    "Parse Resume Webhook1": {
      "main": [[{ "node": "AI Parse Resume1", "type": "main", "index": 0 }]]
    },
    "AI Parse Resume1": {
      "main": [[{ "node": "Format Resume Response1", "type": "main", "index": 0 }]]
    },
    "Generate Email Webhook1": {
      "main": [[{ "node": "AI Generate Email1", "type": "main", "index": 0 }]]
    },
    "AI Generate Email1": {
      "main": [[{ "node": "PrepareEmail", "type": "main", "index": 0 }]]
    },
    "PrepareEmail": {
      "main": [[{ "node": "Send Email to Company", "type": "main", "index": 0 }]]
    },
    "Send Email to Company": {
      "main": [[{ "node": "FormatEmailSuccess", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "StudentAI PRO Agent1", "type": "ai_languageModel", "index": 0 }]]
    },
    "search_jobs": {
      "ai_tool": [[{ "node": "StudentAI PRO Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "parse_resume": {
      "ai_tool": [[{ "node": "StudentAI PRO Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "send_email": {
      "ai_tool": [[{ "node": "StudentAI PRO Agent1", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "ae893663-affe-47ff-8d46-34ed35b1350c",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "509a2c7de06117a645c3467aaa1c9223c2cb04df1c25e6237464220eb19c76d4" },
  "id": "fLryuLMone4PEE5N",
  "tags": []
}